<div class="col-md-8 col-md-offset-2">

  <div class="message-show">

    <div id="map-canvas" class="google-maps <%= css_class rescue "col-md-9" %> col-xs-12" style="width:100%;height:200px;border:solid 1px #ccc;"></div>

    <h2><%= @message.title %> <br/>
      <small><%= @message.venue %></small>
    </h2>

    <p class="message-posted-by">Posted by <%= @message.user.email %> <%= time_ago_in_words(@message.created_at) %>
      ago</p>

    <h2 class="message-desc"><%= @message.decription %></h2>
    <!-- Add a Posted By at timestamp. -->
    <h3 class="comment-section-header">Comments:</h3>
    <%= render @message.comments %>
    <h3 class="reply-to-msg">Reply to Message:</h3>
    <!-- renders the comments form -->
    <%= render 'comments/form' %>

    <div class="links btn-group">
      <%= link_to "Back", root_path, class: "btn btn-default" %>
      <% if user_signed_in? %>

          <% if @message.user_id == current_user.id %>

              <%= link_to "Edit", edit_message_path(@message) %>
              <%= link_to "Delete", message_path(@message), method: :delete, data: {confirm: "Are you sure???"} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_tag "zoom = 5" %>
<%= hidden_field_tag :lat, (@message.lat rescue '38.963745'), :id => 'latitude' %>
<%= hidden_field_tag :lng, (@message.lng rescue '35.243322000000035'), :id => 'longitude' %>

<script type="text/javascript">

    $(document).ready(function () {
        zoom = 14;
        var latitude_val = $("#latitude").val();
        var longitude_val = $("#longitude").val();

        if (latitude_val == "")  (latitude_val = 40.99959341455489);
        if (longitude_val == "")  (longitude_val = 28.948974609375);
// init map
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: zoom,
            center: new google.maps.LatLng(latitude_val, longitude_val),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        window.map = map;
        if (map) {
            placeMarker(map.center)
        }
        var marker;

        function placeMarker(location) {
            geocoder = new google.maps.Geocoder();
            if (marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    draggable: false
                });
            }
        };


    });
</script>
